.homeLink{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.homeLink:hover{
    background-color: #000;
    color: #fff;
}